# Demo for using C3S intake catalog

Intake Example:
https://github.com/intake/intake-examples/blob/master/tutorial/data_scientist.ipynb

In [1]:
import intake

## Open remote catalog

In [2]:
# cat_url = "https://raw.githubusercontent.com/cp4cds/c3s_34g_manifests/master/intake/catalogs/c3s.yaml"
cat_url = "https://raw.githubusercontent.com/cp4cds/c3s_34g_manifests/add-atlas-v2-20250317/intake/catalogs/c3s.yaml"

cat = intake.open_catalog(cat_url)
list(cat)

['c3s-cmip5',
 'c3s-cmip5-daily-pressure-level',
 'c3s-cmip5-daily-single-level',
 'c3s-cmip5-monthly-pressure-level',
 'c3s-cmip5-monthly-single-level',
 'c3s-cmip6',
 'c3s-cmip6-decadal',
 'c3s-cordex',
 'c3s-ipcc-atlas',
 'c3s-cica-atlas-v01',
 'c3s-cica-atlas']

## Load catalog for c3s-cmip6
Catalogs will be cached locally in `~/.intake/cache`.

See: https://intake.readthedocs.io/en/latest/catalog.html?highlight=simplecache#caching-source-files-locally

In [3]:
df_cmip6 = cat['c3s-cmip6'].read()
df_cmip6

,ds_id,path,size,mip_era,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,version,start_time,end_time,bbox,level
0,c3s-cmip6.ScenarioMIP.MOHC.UKESM1-0-LL.ssp245....,ScenarioMIP/MOHC/UKESM1-0-LL/ssp245/r1i1p1f2/A...,28037112,c3s-cmip6,ScenarioMIP,MOHC,UKESM1-0-LL,ssp245,r1i1p1f2,Amon,ts,gn,v20190507,2015-01-16T00:00:00,2049-12-16T00:00:00,"0.94, -89.38, 359.06, 89.38",NaN
1,c3s-cmip6.ScenarioMIP.MOHC.UKESM1-0-LL.ssp245....,ScenarioMIP/MOHC/UKESM1-0-LL/ssp245/r1i1p1f2/A...,38838222,c3s-cmip6,ScenarioMIP,MOHC,UKESM1-0-LL,ssp245,r1i1p1f2,Amon,ts,gn,v20190507,2050-01-16T00:00:00,2100-12-16T00:00:00,"0.94, -89.38, 359.06, 89.38",NaN
2,c3s-cmip6.ScenarioMIP.NCAR.CESM2.ssp370.r4i1p1...,ScenarioMIP/NCAR/CESM2/ssp370/r4i1p1f1/Amon/pr...,104081588,c3s-cmip6,ScenarioMIP,NCAR,CESM2,ssp370,r4i1p1f1,Amon,pr,gn,v20200528,2015-01-15T12:00:00,2064-12-15T12:00:00,"0.00, -90.00, 358.75, 90.00",NaN
3,c3s-cmip6.ScenarioMIP.NCAR.CESM2.ssp370.r4i1p1...,ScenarioMIP/NCAR/CESM2/ssp370/r4i1p1f1/Amon/pr...,74977662,c3s-cmip6,ScenarioMIP,NCAR,CESM2,ssp370,r4i1p1f1,Amon,pr,gn,v20200528,2065-01-15T12:00:00,2100-12-15T12:00:00,"0.00, -90.00, 358.75, 90.00",NaN
4,c3s-cmip6.ScenarioMIP.AS-RCEC.TaiESM1.ssp370.r...,ScenarioMIP/AS-RCEC/TaiESM1/ssp370/r1i1p1f1/Am...,144277888,c3s-cmip6,ScenarioMIP,AS-RCEC,TaiESM1,ssp370,r1i1p1f1,Amon,rlut,gn,v20201014,2015-01-16T12:00:00,2100-12-16T12:00:00,"0.00, -90.00, 358.75, 90.00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133147,c3s-cmip6.CMIP.MIROC.MIROC-ES2H.historical.r1i...,CMIP/MIROC/MIROC-ES2H/historical/r1i1p4f2/Amon...,204026121,c3s-cmip6,CMIP,MIROC,MIROC-ES2H,historical,r1i1p4f2,Amon,tauu,gn,v20220322,1850-01-16T12:00:00,2014-12-16T12:00:00,"0.00, -88.93, 358.59, 88.93",NaN
133148,c3s-cmip6.CMIP.MIROC.MIROC-ES2H.historical.r1i...,CMIP/MIROC/MIROC-ES2H/historical/r1i1p4f2/Amon...,164344947,c3s-cmip6,CMIP,MIROC,MIROC-ES2H,historical,r1i1p4f2,Amon,rlus,gn,v20220322,1850-01-16T12:00:00,2014-12-16T12:00:00,"0.00, -88.93, 358.59, 88.93",NaN
133149,c3s-cmip6.CMIP.MIROC.MIROC-ES2H.historical.r1i...,CMIP/MIROC/MIROC-ES2H/historical/r1i1p4f2/Amon...,3420481903,c3s-cmip6,CMIP,MIROC,MIROC-ES2H,historical,r1i1p4f2,Amon,ua,gn,v20220322,1850-01-16T12:00:00,2014-12-16T12:00:00,"0.00, -88.93, 358.59, 88.93",100.00 500.00 1000.00 2000.00 3000.00 5000.00 ...
133150,c3s-cmip6.CMIP.MIROC.MIROC-ES2H.historical.r1i...,CMIP/MIROC/MIROC-ES2H/historical/r1i1p4f2/Amon...,143468073,c3s-cmip6,CMIP,MIROC,MIROC-ES2H,historical,r1i1p4f2,Amon,tasmin,gn,v20220322,1850-01-16T12:00:00,2014-12-16T12:00:00,"0.00, -88.93, 358.59, 88.93",2.00
133151,c3s-cmip6.CMIP.MIROC.MIROC-ES2H.historical.r1i...,CMIP/MIROC/MIROC-ES2H/historical/r1i1p4f2/Amon...,86270014,c3s-cmip6,CMIP,MIROC,MIROC-ES2H,historical,r1i1p4f2,Amon,prsn,gn,v20220322,1850-01-16T12:00:00,2014-12-16T12:00:00,"0.00, -88.93, 358.59, 88.93",NaN

In [4]:
df_cmip6.nunique()

ds_id              10426
path              133152
size              122422
mip_era                1
activity_id            2
institution_id        31
source_id             58
experiment_id          9
member_id             17
table_id               8
variable_id           51
grid_label             3
version              242
start_time           633
end_time             674
bbox                  54
level                  6
dtype: int64

### Search dataset ...

In [5]:
df = df_cmip6.loc[
    (df_cmip6.institution_id=="CNRM-CERFACS")
    & (df_cmip6.source_id=="CNRM-CM6-1")
    & (df_cmip6.table_id=="Amon")
    & (df_cmip6.variable_id=="tas")
    & (df_cmip6.experiment_id=="historical")
]
df.head()

,ds_id,path,size,mip_era,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,version,start_time,end_time,bbox,level
111587,c3s-cmip6.CMIP.CNRM-CERFACS.CNRM-CM6-1.histori...,CMIP/CNRM-CERFACS/CNRM-CM6-1/historical/r1i1p1...,143643392,c3s-cmip6,CMIP,CNRM-CERFACS,CNRM-CM6-1,historical,r1i1p1f2,Amon,tas,gr,v20180917,1850-01-16T12:00:00,2014-12-16T12:00:00,"0.00, -88.93, 358.59, 88.93",2.00

In [6]:
df.nunique()

ds_id             1
path              1
size              1
mip_era           1
activity_id       1
institution_id    1
source_id         1
experiment_id     1
member_id         1
table_id          1
variable_id       1
grid_label        1
version           1
start_time        1
end_time          1
bbox              1
level             1
dtype: int64

In [7]:
list(df.ds_id.unique())

['c3s-cmip6.CMIP.CNRM-CERFACS.CNRM-CM6-1.historical.r1i1p1f2.Amon.tas.gr.v20180917']

## Load catalog for c3s-cmip6-decadal

In [8]:
df_cmip6_decadal = cat['c3s-cmip6-decadal'].read()
df_cmip6_decadal

,ds_id,path,size,mip_era,activity_id,institution_id,source_id,experiment_id,member_id,table_id,variable_id,grid_label,version,start_time,end_time,bbox,level,member_year,member_ensemble,prefix
0,c3s-cmip6-decadal.DCPP.MPI-M.MPI-ESM1-2-HR.dcp...,DCPP/MPI-M/MPI-ESM1-2-HR/dcppA-hindcast/s2016-...,492479692,c3s-cmip6-decadal,DCPP,MPI-M,MPI-ESM1-2-HR,dcppA-hindcast,s2016-r8i1p1f1,day,tasmax,gn,v20210111,2016-11-01T12:00:00,2026-12-31T12:00:00,"0.00, -89.28, 359.06, 89.28",2.00,s2016,r8i1p1f1,c3s-cmip6-decadal
1,c3s-cmip6-decadal.DCPP.MPI-M.MPI-ESM1-2-HR.dcp...,DCPP/MPI-M/MPI-ESM1-2-HR/dcppA-hindcast/s2009-...,737204109,c3s-cmip6-decadal,DCPP,MPI-M,MPI-ESM1-2-HR,dcppA-hindcast,s2009-r8i1p1f1,day,pr,gn,v20210107,2009-11-01T12:00:00,2019-12-31T12:00:00,"0.00, -89.28, 359.06, 89.28",NaN,s2009,r8i1p1f1,c3s-cmip6-decadal
2,c3s-cmip6-decadal.DCPP.MOHC.HadGEM3-GC31-MM.dc...,DCPP/MOHC/HadGEM3-GC31-MM/dcppA-hindcast/s1987...,953384,c3s-cmip6-decadal,DCPP,MOHC,HadGEM3-GC31-MM,dcppA-hindcast,s1987-r3i1p1f2,Amon,pr,gn,v20200417,1987-11-16T00:00:00,1987-12-16T00:00:00,"0.42, -89.72, 359.58, 89.72",NaN,s1987,r3i1p1f2,c3s-cmip6-decadal
3,c3s-cmip6-decadal.DCPP.MOHC.HadGEM3-GC31-MM.dc...,DCPP/MOHC/HadGEM3-GC31-MM/dcppA-hindcast/s1995...,603757,c3s-cmip6-decadal,DCPP,MOHC,HadGEM3-GC31-MM,dcppA-hindcast,s1995-r6i1p1f2,Amon,tas,gn,v20200417,1995-11-16T00:00:00,1995-12-16T00:00:00,"0.42, -89.72, 359.58, 89.72",1.50,s1995,r6i1p1f2,c3s-cmip6-decadal
4,c3s-cmip6-decadal.DCPP.MOHC.HadGEM3-GC31-MM.dc...,DCPP/MOHC/HadGEM3-GC31-MM/dcppA-hindcast/s2004...,14824913,c3s-cmip6-decadal,DCPP,MOHC,HadGEM3-GC31-MM,dcppA-hindcast,s2004-r10i1p1f2,AERday,zg500,gn,v20200417,2004-11-01T12:00:00,2004-12-30T12:00:00,"0.42, -89.72, 359.58, 89.72",50000.00,s2004,r10i1p1f2,c3s-cmip6-decadal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115225,c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-...,DCPP/EC-Earth-Consortium/EC-Earth3/dcppA-hindc...,138842521,c3s-cmip6-decadal,DCPP,EC-Earth-Consortium,EC-Earth3,dcppA-hindcast,s1991-r7i1p1f1,day,tasmax,gr,v20201216,1997-11-01T12:00:00,1998-10-31T12:00:00,"0.00, -89.46, 359.30, 89.46",2.00,s1991,r7i1p1f1,c3s-cmip6-decadal
115226,c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-...,DCPP/EC-Earth-Consortium/EC-Earth3/dcppA-hindc...,138881574,c3s-cmip6-decadal,DCPP,EC-Earth-Consortium,EC-Earth3,dcppA-hindcast,s1991-r7i1p1f1,day,tasmax,gr,v20201216,1998-11-01T12:00:00,1999-10-31T12:00:00,"0.00, -89.46, 359.30, 89.46",2.00,s1991,r7i1p1f1,c3s-cmip6-decadal
115227,c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-...,DCPP/EC-Earth-Consortium/EC-Earth3/dcppA-hindc...,139375727,c3s-cmip6-decadal,DCPP,EC-Earth-Consortium,EC-Earth3,dcppA-hindcast,s1991-r7i1p1f1,day,tasmax,gr,v20201216,1999-11-01T12:00:00,2000-10-31T12:00:00,"0.00, -89.46, 359.30, 89.46",2.00,s1991,r7i1p1f1,c3s-cmip6-decadal
115228,c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-...,DCPP/EC-Earth-Consortium/EC-Earth3/dcppA-hindc...,138971412,c3s-cmip6-decadal,DCPP,EC-Earth-Consortium,EC-Earth3,dcppA-hindcast,s1991-r7i1p1f1,day,tasmax,gr,v20201216,2000-11-01T12:00:00,2001-10-31T12:00:00,"0.00, -89.46, 359.30, 89.46",2.00,s1991,r7i1p1f1,c3s-cmip6-decadal
115229,c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-...,DCPP/EC-Earth-Consortium/EC-Earth3/dcppA-hindc...,138898806,c3s-cmip6-decadal,DCPP,EC-Earth-Consortium,EC-Earth3,dcppA-hindcast,s1991-r7i1p1f1,day,tasmax,gr,v20201216,2001-11-01T12:00:00,2002-10-31T12:00:00,"0.00, -89.46, 359.30, 89.46",2.00,s1991,r7i1p1f1,c3s-cmip6-decadal

In [9]:
df = df_cmip6_decadal.loc[
    (df_cmip6_decadal.variable_id=="tas") 
    & (df_cmip6_decadal.experiment_id=="dcppA-hindcast")
    & (df_cmip6_decadal.table_id=="Amon")
    & (df_cmip6_decadal.institution_id=="EC-Earth-Consortium")
    & (df_cmip6_decadal.member_year=="s1995")
]
df.nunique()

ds_id               10
path               110
size               109
mip_era              1
activity_id          1
institution_id       1
source_id            1
experiment_id        1
member_id           10
table_id             1
variable_id          1
grid_label           1
version              2
start_time          11
end_time            11
bbox                 1
level                1
member_year          1
member_ensemble     10
prefix               1
dtype: int64

In [10]:
ds_ids = list(df.ds_id)
ds_ids.sort()
ds_ids

['c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r10i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r10i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r10i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r10i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r10i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r10i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r10i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r10i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r10i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r10i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r10i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r1i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r1i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r1i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r1i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r1i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r1i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r1i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r1i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r1i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r1i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r1i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r2i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r2i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r2i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r2i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r2i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r2i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r2i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r2i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r2i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r2i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r2i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r3i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r3i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r3i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r3i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r3i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r3i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r3i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r3i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r3i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r3i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r3i1p1f1.Amon.tas.gr.v20201215',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r4i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r4i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r4i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r4i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r4i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r4i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r4i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r4i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r4i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r4i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r4i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r5i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r5i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r5i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r5i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r5i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r5i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r5i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r5i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r5i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r5i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r5i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r6i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r6i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r6i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r6i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r6i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r6i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r6i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r6i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r6i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r6i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r6i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r7i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r7i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r7i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r7i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r7i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r7i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r7i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r7i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r7i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r7i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r7i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r8i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r8i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r8i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r8i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r8i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r8i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r8i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r8i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r8i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r8i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r8i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r9i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r9i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r9i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r9i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r9i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r9i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r9i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r9i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r9i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r9i1p1f1.Amon.tas.gr.v20201216',
 'c3s-cmip6-decadal.DCPP.EC-Earth-Consortium.EC-Earth3.dcppA-hindcast.s1995-r9i1p1f1.Amon.tas.gr.v20201216']

## Load Catalog for C3S-CORDEX

In [11]:
df_cordex = cat['c3s-cordex'].read()
df_cordex

,ds_id,path,size,project,product,domain,institute,driving_model,experiment_id,ensemble,rcm_name,rcm_version,time_frequency,variable,version,start_time,end_time,bbox,level
0,c3s-cordex.output.EAS-44.CLMcom.CNRM-CERFACS-C...,output/EAS-44/CLMcom/CNRM-CERFACS-CNRM-CM5/rcp...,176452637,c3s-cordex,output,EAS-44,CLMcom,CNRM-CERFACS-CNRM-CM5,rcp45,r1i1p1,CLMcom-CCLM5-0-2,v1,day,huss,v20201215,2006-01-01T12:00:00,2010-12-31T12:00:00,"63.36, -18.23, 175.13, 58.59",10.00
1,c3s-cordex.output.EAS-44.CLMcom.CNRM-CERFACS-C...,output/EAS-44/CLMcom/CNRM-CERFACS-CNRM-CM5/rcp...,176393262,c3s-cordex,output,EAS-44,CLMcom,CNRM-CERFACS-CNRM-CM5,rcp45,r1i1p1,CLMcom-CCLM5-0-2,v1,day,huss,v20201215,2011-01-01T12:00:00,2015-12-31T12:00:00,"63.36, -18.23, 175.13, 58.59",10.00
2,c3s-cordex.output.EAS-44.CLMcom.CNRM-CERFACS-C...,output/EAS-44/CLMcom/CNRM-CERFACS-CNRM-CM5/rcp...,176557045,c3s-cordex,output,EAS-44,CLMcom,CNRM-CERFACS-CNRM-CM5,rcp45,r1i1p1,CLMcom-CCLM5-0-2,v1,day,huss,v20201215,2016-01-01T12:00:00,2020-12-31T12:00:00,"63.36, -18.23, 175.13, 58.59",10.00
3,c3s-cordex.output.EAS-44.CLMcom.CNRM-CERFACS-C...,output/EAS-44/CLMcom/CNRM-CERFACS-CNRM-CM5/rcp...,176346476,c3s-cordex,output,EAS-44,CLMcom,CNRM-CERFACS-CNRM-CM5,rcp45,r1i1p1,CLMcom-CCLM5-0-2,v1,day,huss,v20201215,2021-01-01T12:00:00,2025-12-31T12:00:00,"63.36, -18.23, 175.13, 58.59",10.00
4,c3s-cordex.output.EAS-44.CLMcom.CNRM-CERFACS-C...,output/EAS-44/CLMcom/CNRM-CERFACS-CNRM-CM5/rcp...,176260737,c3s-cordex,output,EAS-44,CLMcom,CNRM-CERFACS-CNRM-CM5,rcp45,r1i1p1,CLMcom-CCLM5-0-2,v1,day,huss,v20201215,2026-01-01T12:00:00,2030-12-31T12:00:00,"63.36, -18.23, 175.13, 58.59",10.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567374,c3s-cordex.output.CAM-44.SMHI.ICHEC-EC-EARTH.h...,output/CAM-44/SMHI/ICHEC-EC-EARTH/historical/r...,60776141,c3s-cordex,output,CAM-44,SMHI,ICHEC-EC-EARTH,historical,r12i1p1,SMHI-RCA4,v1,day,tasmin,v20201201,1981-01-01T12:00:00,1985-12-31T12:00:00,"-127.58, -19.46, -19.41, 46.38",2.00
567375,c3s-cordex.output.CAM-44.SMHI.ICHEC-EC-EARTH.h...,output/CAM-44/SMHI/ICHEC-EC-EARTH/historical/r...,60562273,c3s-cordex,output,CAM-44,SMHI,ICHEC-EC-EARTH,historical,r12i1p1,SMHI-RCA4,v1,day,tasmin,v20201201,1986-01-01T12:00:00,1990-12-31T12:00:00,"-127.58, -19.46, -19.41, 46.38",2.00
567376,c3s-cordex.output.CAM-44.SMHI.ICHEC-EC-EARTH.h...,output/CAM-44/SMHI/ICHEC-EC-EARTH/historical/r...,60779301,c3s-cordex,output,CAM-44,SMHI,ICHEC-EC-EARTH,historical,r12i1p1,SMHI-RCA4,v1,day,tasmin,v20201201,1991-01-01T12:00:00,1995-12-31T12:00:00,"-127.58, -19.46, -19.41, 46.38",2.00
567377,c3s-cordex.output.CAM-44.SMHI.ICHEC-EC-EARTH.h...,output/CAM-44/SMHI/ICHEC-EC-EARTH/historical/r...,60957749,c3s-cordex,output,CAM-44,SMHI,ICHEC-EC-EARTH,historical,r12i1p1,SMHI-RCA4,v1,day,tasmin,v20201201,1996-01-01T12:00:00,2000-12-31T12:00:00,"-127.58, -19.46, -19.41, 46.38",2.00
567378,c3s-cordex.output.CAM-44.SMHI.ICHEC-EC-EARTH.h...,output/CAM-44/SMHI/ICHEC-EC-EARTH/historical/r...,60801923,c3s-cordex,output,CAM-44,SMHI,ICHEC-EC-EARTH,historical,r12i1p1,SMHI-RCA4,v1,day,tasmin,v20201201,2001-01-01T12:00:00,2005-12-31T12:00:00,"-127.58, -19.46, -19.41, 46.38",2.00

In [12]:
df = df_cordex.loc[
    (df_cordex.variable=="tas") 
    & (df_cordex.experiment_id=="rcp85")
    & (df_cordex.domain=="EUR-11")
    & (df_cordex.time_frequency=="mon")
    & (df_cordex.driving_model=="MOHC-HadGEM2-ES")
    & (df_cordex.ensemble=="r1i1p1")
]
df.head()

,ds_id,path,size,project,product,domain,institute,driving_model,experiment_id,ensemble,rcm_name,rcm_version,time_frequency,variable,version,start_time,end_time,bbox,level
11817,c3s-cordex.output.EUR-11.MOHC.MOHC-HadGEM2-ES....,output/EUR-11/MOHC/MOHC-HadGEM2-ES/rcp85/r1i1p...,27812779,c3s-cordex,output,EUR-11,MOHC,MOHC-HadGEM2-ES,rcp85,r1i1p1,MOHC-HadREM3-GA7-05,v1,mon,tas,v20200330,2005-12-16T00:00:00,2010-12-16T00:00:00,"-44.59, 21.99, 64.96, 72.59",1.50
11818,c3s-cordex.output.EUR-11.MOHC.MOHC-HadGEM2-ES....,output/EUR-11/MOHC/MOHC-HadGEM2-ES/rcp85/r1i1p...,46090612,c3s-cordex,output,EUR-11,MOHC,MOHC-HadGEM2-ES,rcp85,r1i1p1,MOHC-HadREM3-GA7-05,v1,mon,tas,v20200330,2011-01-16T00:00:00,2020-12-16T00:00:00,"-44.59, 21.99, 64.96, 72.59",1.50
11819,c3s-cordex.output.EUR-11.MOHC.MOHC-HadGEM2-ES....,output/EUR-11/MOHC/MOHC-HadGEM2-ES/rcp85/r1i1p...,46067468,c3s-cordex,output,EUR-11,MOHC,MOHC-HadGEM2-ES,rcp85,r1i1p1,MOHC-HadREM3-GA7-05,v1,mon,tas,v20200330,2021-01-16T00:00:00,2030-12-16T00:00:00,"-44.59, 21.99, 64.96, 72.59",1.50
11820,c3s-cordex.output.EUR-11.MOHC.MOHC-HadGEM2-ES....,output/EUR-11/MOHC/MOHC-HadGEM2-ES/rcp85/r1i1p...,46059570,c3s-cordex,output,EUR-11,MOHC,MOHC-HadGEM2-ES,rcp85,r1i1p1,MOHC-HadREM3-GA7-05,v1,mon,tas,v20200330,2031-01-16T00:00:00,2040-12-16T00:00:00,"-44.59, 21.99, 64.96, 72.59",1.50
11821,c3s-cordex.output.EUR-11.MOHC.MOHC-HadGEM2-ES....,output/EUR-11/MOHC/MOHC-HadGEM2-ES/rcp85/r1i1p...,46034891,c3s-cordex,output,EUR-11,MOHC,MOHC-HadGEM2-ES,rcp85,r1i1p1,MOHC-HadREM3-GA7-05,v1,mon,tas,v20200330,2041-01-16T00:00:00,2050-12-16T00:00:00,"-44.59, 21.99, 64.96, 72.59",1.50

In [13]:
collection = df.ds_id.unique()[0]
collection

'c3s-cordex.output.EUR-11.MOHC.MOHC-HadGEM2-ES.rcp85.r1i1p1.MOHC-HadREM3-GA7-05.v1.mon.tas.v20200330'

## Load Catalog for C3S-CMIP5

In [14]:
df_cmip5 = cat['c3s-cmip5'].read()
df_cmip5

,ds_id,path,size,project,product,institute,model,experiment,time_frequency,realm,...,version,start_time,end_time,bbox,level,units,variable_name,description,url,label
0,c3s-cmip5.output1.BCC.bcc-csm1-1.amip.mon.atmo...,output1/BCC/bcc-csm1-1/amip/mon/atmos/Amon/r1i...,NaN,c3s-cmip5,output1,BCC,bcc-csm1-1,amip,mon,atmos,...,v20181201,1979-01-01T12:00:00,2008-12-31T12:00:00,NaN,NaN,1,Total cloud fraction (clt),"Total refers to the whole atmosphere column, a...",https://data.mips.climate.copernicus.eu/thredd...,cmip5-monthly-single-level
1,c3s-cmip5.output1.BCC.bcc-csm1-1.amip.mon.atmo...,output1/BCC/bcc-csm1-1/amip/mon/atmos/Amon/r1i...,NaN,c3s-cmip5,output1,BCC,bcc-csm1-1,amip,mon,atmos,...,v20181201,1979-01-01T12:00:00,2008-12-31T12:00:00,NaN,NaN,kg.m^-2.s^-1,Evaporation (evspsbl),Evaporation rate. It includes conversion to va...,https://data.mips.climate.copernicus.eu/thredd...,cmip5-monthly-single-level
2,c3s-cmip5.output1.BCC.bcc-csm1-1.amip.mon.atmo...,output1/BCC/bcc-csm1-1/amip/mon/atmos/Amon/r1i...,NaN,c3s-cmip5,output1,BCC,bcc-csm1-1,amip,mon,atmos,...,v20181201,1979-01-01T12:00:00,2008-12-31T12:00:00,NaN,NaN,W.m^-2,Surface latent heat flux (hfls),Flux per unit area of heat between the surface...,https://data.mips.climate.copernicus.eu/thredd...,cmip5-monthly-single-level
3,c3s-cmip5.output1.BCC.bcc-csm1-1.amip.mon.atmo...,output1/BCC/bcc-csm1-1/amip/mon/atmos/Amon/r1i...,NaN,c3s-cmip5,output1,BCC,bcc-csm1-1,amip,mon,atmos,...,v20181201,1979-01-01T12:00:00,2008-12-31T12:00:00,NaN,NaN,W.m^-2,Surface sensible heat flux (hfss),Flux per unit area of heat between the surface...,https://data.mips.climate.copernicus.eu/thredd...,cmip5-monthly-single-level
4,c3s-cmip5.output1.BCC.bcc-csm1-1.amip.mon.atmo...,output1/BCC/bcc-csm1-1/amip/mon/atmos/Amon/r1i...,NaN,c3s-cmip5,output1,BCC,bcc-csm1-1,amip,mon,atmos,...,v20181201,1979-01-01T12:00:00,2008-12-31T12:00:00,NaN,NaN,kg.m-^2.s^-1,Snowfall flux (prsn),Mass of water in the form of snow precipitatin...,https://data.mips.climate.copernicus.eu/thredd...,cmip5-monthly-single-level
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171682,c3s-cmip5.output1.NOAA-GFDL.GFDL-HIRAM-C360.am...,output1/NOAA-GFDL/GFDL-HIRAM-C360/amip/day/atm...,NaN,c3s-cmip5,output1,NOAA-GFDL,GFDL-HIRAM-C360,amip,day,atmos,...,v20110601,2004-01-01T12:00:00,2004-12-31T12:00:00,NaN,NaN,m,Geopotential height (zg),Gravitational potential energy per unit mass n...,https://data.mips.climate.copernicus.eu/thredd...,cmip5-daily-pressure-level
171683,c3s-cmip5.output1.NOAA-GFDL.GFDL-HIRAM-C360.am...,output1/NOAA-GFDL/GFDL-HIRAM-C360/amip/day/atm...,NaN,c3s-cmip5,output1,NOAA-GFDL,GFDL-HIRAM-C360,amip,day,atmos,...,v20110601,2005-01-01T12:00:00,2005-12-31T12:00:00,NaN,NaN,m,Geopotential height (zg),Gravitational potential energy per unit mass n...,https://data.mips.climate.copernicus.eu/thredd...,cmip5-daily-pressure-level
171684,c3s-cmip5.output1.NOAA-GFDL.GFDL-HIRAM-C360.am...,output1/NOAA-GFDL/GFDL-HIRAM-C360/amip/day/atm...,NaN,c3s-cmip5,output1,NOAA-GFDL,GFDL-HIRAM-C360,amip,day,atmos,...,v20110601,2006-01-01T12:00:00,2006-12-31T12:00:00,NaN,NaN,m,Geopotential height (zg),Gravitational potential energy per unit mass n...,https://data.mips.climate.copernicus.eu/thredd...,cmip5-daily-pressure-level
171685,c3s-cmip5.output1.NOAA-GFDL.GFDL-HIRAM-C360.am...,output1/NOAA-GFDL/GFDL-HIRAM-C360/amip/day/atm...,NaN,c3s-cmip5,output1,NOAA-GFDL,GFDL-HIRAM-C360,amip,day,atmos,...,v20110601,2007-01-01T12:00:00,2007-12-31T12:00:00,NaN,NaN,m,Geopotential height (zg),Gravitational potential energy per unit mass n...,https://data.mips.climate.copernicus.eu/thredd...,cmip5-daily-pressure-level
171686,c3s-cmip5.output1.NOAA-GFDL.GFDL-HIRAM-C360.am...,output1/NOAA-GFDL/GFDL-HIRAM-C360/amip/day/atm...,NaN,c3s-cmip5,output1,NOAA-GFDL,GFDL-HIRAM-C360,amip,day,atmos,...,v20110601,2008-01-01T12:00:00,2008-12-31T12:00:00,NaN,NaN,m,Geopotential height (zg),Gravitational potential energy per unit mass n...,https://data.mips.climate.copernicus.eu/thredd...,cmip5-daily-pressure-level

In [15]:
df = df_cmip5.loc[
    (df_cmip5.variable=="tas") 
    & (df_cmip5.experiment=="rcp85")
    & (df_cmip5.time_frequency=="mon")
    & (df_cmip5.model=="bcc-csm1-1-m")
    & (df_cmip5.ensemble=="r1i1p1")
]
df.head()

,ds_id,path,size,project,product,institute,model,experiment,time_frequency,realm,...,version,start_time,end_time,bbox,level,units,variable_name,description,url,label
546,c3s-cmip5.output1.BCC.bcc-csm1-1-m.rcp85.mon.a...,output1/BCC/bcc-csm1-1-m/rcp85/mon/atmos/Amon/...,NaN,c3s-cmip5,output1,BCC,bcc-csm1-1-m,rcp85,mon,atmos,...,v20181201,2006-01-01T12:00:00,2099-12-31T12:00:00,NaN,NaN,K,Near-surface (2m) air temperature (tas),Temperature of the air near the surface.,https://data.mips.climate.copernicus.eu/thredd...,cmip5-monthly-single-level
547,c3s-cmip5.output1.BCC.bcc-csm1-1-m.rcp85.mon.a...,output1/BCC/bcc-csm1-1-m/rcp85/mon/atmos/Amon/...,NaN,c3s-cmip5,output1,BCC,bcc-csm1-1-m,rcp85,mon,atmos,...,v20181201,2100-01-01T12:00:00,2100-12-31T12:00:00,NaN,NaN,K,Near-surface (2m) air temperature (tas),Temperature of the air near the surface.,https://data.mips.climate.copernicus.eu/thredd...,cmip5-monthly-single-level

In [16]:
collection = df.ds_id.unique()[0]
collection

'c3s-cmip5.output1.BCC.bcc-csm1-1-m.rcp85.mon.atmos.Amon.r1i1p1.tas.v20181201'

## Load Catalog for C3S-IPCC-ATLAS

In [17]:
df_ipcc_atlas = cat['c3s-ipcc-atlas'].read()
df_ipcc_atlas

,ds_id,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,prefix
0,c3s-ipcc-atlas.fd.CMIP5.rcp45.mon,CMIP5/rcp45/fd_CMIP5_rcp45_mon_200601-210012.nc,206830356,CMIP5,NaN,rcp45,mon,fd,2006-01-01T00:00:00,2100-12-01T00:00:00,"-179.00, -89.00, 179.00, 89.00",2.00,c3s-ipcc-atlas
1,c3s-ipcc-atlas.tnn.CMIP5.rcp45.mon,CMIP5/rcp45/tnn_CMIP5_rcp45_mon_200601-210012.nc,899056159,CMIP5,NaN,rcp45,mon,tnn,2006-01-01T00:00:00,2100-12-01T00:00:00,"-179.00, -89.00, 179.00, 89.00",2.00,c3s-ipcc-atlas
2,c3s-ipcc-atlas.tx40.CMIP5.rcp45.mon,CMIP5/rcp45/tx40_CMIP5_rcp45_mon_200601-210012.nc,52647634,CMIP5,NaN,rcp45,mon,tx40,2006-01-01T00:00:00,2100-12-01T00:00:00,"-179.00, -89.00, 179.00, 89.00",2.00,c3s-ipcc-atlas
3,c3s-ipcc-atlas.tx35ba.CMIP5.rcp45.mon,CMIP5/rcp45/tx35ba_CMIP5_rcp45_mon_200601-2100...,40939549,CMIP5,NaN,rcp45,mon,tx35ba,2006-01-01T00:00:00,2100-12-01T00:00:00,"-179.00, -89.00, 179.00, 89.00",2.00,c3s-ipcc-atlas
4,c3s-ipcc-atlas.rx1day.CMIP5.rcp45.mon,CMIP5/rcp45/rx1day_CMIP5_rcp45_mon_200601-2100...,1002850075,CMIP5,NaN,rcp45,mon,rx1day,2006-01-01T00:00:00,2100-12-01T00:00:00,"-179.00, -89.00, 179.00, 89.00",NaN,c3s-ipcc-atlas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
858,c3s-ipcc-atlas.tx35.CORDEX-WAS.rcp85.mon,CORDEX-WAS/rcp85/tx35_CORDEX-WAS_rcp85_mon_200...,315822711,CORDEX,WAS,rcp85,mon,tx35,2006-01-01T00:00:00,2100-12-01T00:00:00,"19.25, -15.75, 116.25, 45.75",2.00,c3s-ipcc-atlas
859,c3s-ipcc-atlas.spi6.CORDEX-WAS.rcp85.mon,CORDEX-WAS/rcp85/spi6_CORDEX-WAS_rcp85_mon_200...,877566524,CORDEX,WAS,rcp85,mon,spi6,2006-01-01T00:00:00,2100-12-01T00:00:00,"19.25, -15.75, 116.25, 45.75",NaN,c3s-ipcc-atlas
860,c3s-ipcc-atlas.rx5day.CORDEX-WAS.rcp85.mon,CORDEX-WAS/rcp85/rx5day_CORDEX-WAS_rcp85_mon_2...,1107127612,CORDEX,WAS,rcp85,mon,rx5day,2006-01-01T00:00:00,2100-12-01T00:00:00,"19.25, -15.75, 116.25, 45.75",NaN,c3s-ipcc-atlas
861,c3s-ipcc-atlas.tn.CORDEX-WAS.rcp85.mon,CORDEX-WAS/rcp85/tn_CORDEX-WAS_rcp85_mon_20060...,853394968,CORDEX,WAS,rcp85,mon,tn,2006-01-01T00:00:00,2100-12-01T00:00:00,"19.25, -15.75, 116.25, 45.75",2.00,c3s-ipcc-atlas
862,c3s-ipcc-atlas.tx40ba.CORDEX-WAS.rcp85.mon,CORDEX-WAS/rcp85/tx40ba_CORDEX-WAS_rcp85_mon_2...,70997195,CORDEX,WAS,rcp85,mon,tx40ba,2006-01-01T00:00:00,2100-12-01T00:00:00,"19.25, -15.75, 116.25, 45.75",2.00,c3s-ipcc-atlas

In [18]:
df_ipcc_atlas.nunique()

ds_id             863
path              863
size              863
project             3
domain             11
experiment          8
time_frequency      2
variable           22
start_time          5
end_time            7
bbox               14
level               2
prefix              1
dtype: int64

## Load Catalog for C3S-CICA-ATLAS v1

In [19]:
df_cica_atlas = cat['c3s-cica-atlas-v01'].read()
df_cica_atlas

,ds_id,version,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,url
0,c3s-cica-atlas.pr.CMIP5.historical.mon.v1,v1,CMIP5/historical/pr_CMIP5_historical_mon_18500...,NaN,CMIP5,Global,historical,mon,pr,1850-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1,c3s-cica-atlas.prsn.CMIP5.historical.mon.v1,v1,CMIP5/historical/prsn_CMIP5_historical_mon_185...,NaN,CMIP5,Global,historical,mon,prsn,1850-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
2,c3s-cica-atlas.rx1day.CMIP5.historical.mon.v1,v1,CMIP5/historical/rx1day_CMIP5_historical_mon_1...,NaN,CMIP5,Global,historical,mon,rx1day,1850-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
3,c3s-cica-atlas.rx5day.CMIP5.historical.mon.v1,v1,CMIP5/historical/rx5day_CMIP5_historical_mon_1...,NaN,CMIP5,Global,historical,mon,rx5day,1850-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
4,c3s-cica-atlas.sfcwind.CMIP5.historical.mon.v1,v1,CMIP5/historical/sfcwind_CMIP5_historical_mon_...,NaN,CMIP5,Global,historical,mon,sfcwind,1850-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,c3s-cica-atlas.tx40.ERA5.mon.v1,v1,ERA5/tx40_ERA5_mon_194001-202212.nc,NaN,ERA5,Global,NaN,mon,tx40,1940-01-01T00:00:00,2022-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
408,c3s-cica-atlas.txx.ERA5.mon.v1,v1,ERA5/txx_ERA5_mon_194001-202212.nc,NaN,ERA5,Global,NaN,mon,txx,1940-01-01T00:00:00,2022-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
409,c3s-cica-atlas.tx.ERA5.mon.v1,v1,ERA5/tx_ERA5_mon_194001-202212.nc,NaN,ERA5,Global,NaN,mon,tx,1940-01-01T00:00:00,2022-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
410,c3s-cica-atlas.siconc.ORAS5.mon.v1,v1,ORAS5/siconc_ORAS5_mon_195801-201412.nc,NaN,ORAS5,Global,NaN,mon,siconc,1958-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
411,c3s-cica-atlas.sst.ORAS5.mon.v1,v1,ORAS5/sst_ORAS5_mon_195801-201412.nc,NaN,ORAS5,Global,NaN,mon,sst,1958-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

In [20]:
df_cica_atlas.nunique()

ds_id             412
version             1
path              412
size                0
project             8
domain              4
experiment          8
time_frequency      2
variable           30
start_time          7
end_time            5
bbox                0
level               0
url               412
dtype: int64

In [21]:
list(df_cica_atlas.project.unique())

['CMIP5',
 'CMIP6',
 'CORDEX-CORE',
 'CORDEX-EUR-11',
 'E-OBS',
 'ERA5',
 'ERA5-Land',
 'ORAS5']

In [22]:
list(df_cica_atlas.domain.unique())

['Global', 'Global (mosaic)', 'Europe (EURO-CORDEX)', 'Europe']

In [23]:
list(df_cica_atlas.experiment.unique())

['historical',
 'rcp26',
 'rcp45',
 'rcp85',
 'ssp126',
 'ssp245',
 'ssp370',
 'ssp585',
 nan]

In [24]:
list(df_cica_atlas.time_frequency.unique())

['mon', 'yr']

In [25]:
list(df_cica_atlas.variable.unique())

['pr',
 'prsn',
 'rx1day',
 'rx5day',
 'sfcwind',
 't',
 'tn',
 'tnn',
 'tx35',
 'tx',
 'tx40',
 'txx',
 'cd',
 'cdd',
 'clt',
 'evspsbl',
 'fd',
 'hd',
 'huss',
 'mrro',
 'mrsos',
 'psl',
 'rlds',
 'rsds',
 'siconc',
 'spei6',
 'spi6',
 'sst',
 'tx35bals',
 'tx40bals']

In [26]:
df = df_cica_atlas.loc[
    (df_cica_atlas.project=="ERA5-Land") 
]
df.head()

,ds_id,version,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,url
368,c3s-cica-atlas.cd.ERA5-Land.yr.v1,v1,ERA5-Land/cd_ERA5-Land_yr_1950-2022.nc,NaN,ERA5-Land,Global,NaN,yr,cd,1950-01-01T00:00:00,2022-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
369,c3s-cica-atlas.cdd.ERA5-Land.yr.v1,v1,ERA5-Land/cdd_ERA5-Land_yr_1950-2022.nc,NaN,ERA5-Land,Global,NaN,yr,cdd,1950-01-01T00:00:00,2022-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
370,c3s-cica-atlas.evspsbl.ERA5-Land.mon.v1,v1,ERA5-Land/evspsbl_ERA5-Land_mon_195001-202212.nc,NaN,ERA5-Land,Global,NaN,mon,evspsbl,1950-01-01T00:00:00,2022-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
371,c3s-cica-atlas.hd.ERA5-Land.yr.v1,v1,ERA5-Land/hd_ERA5-Land_yr_1950-2022.nc,NaN,ERA5-Land,Global,NaN,yr,hd,1950-01-01T00:00:00,2022-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
372,c3s-cica-atlas.fd.ERA5-Land.mon.v1,v1,ERA5-Land/fd_ERA5-Land_mon_195001-202212.nc,NaN,ERA5-Land,Global,NaN,mon,fd,1950-01-01T00:00:00,2022-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

In [27]:
df = df_cica_atlas.loc[
    (df_cica_atlas.project=="CORDEX-EUR-11") 
]
df.head()

,ds_id,version,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,url
250,c3s-cica-atlas.cdd.CORDEX-EUR-11.historical.yr.v1,v1,CORDEX-EUR-11/historical/cdd_CORDEX-EUR-11_his...,NaN,CORDEX-EUR-11,Europe (EURO-CORDEX),historical,yr,cdd,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
253,c3s-cica-atlas.clt.CORDEX-EUR-11.historical.mo...,v1,CORDEX-EUR-11/historical/clt_CORDEX-EUR-11_his...,NaN,CORDEX-EUR-11,Europe (EURO-CORDEX),historical,mon,clt,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
254,c3s-cica-atlas.huss.CORDEX-EUR-11.historical.m...,v1,CORDEX-EUR-11/historical/huss_CORDEX-EUR-11_hi...,NaN,CORDEX-EUR-11,Europe (EURO-CORDEX),historical,mon,huss,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
255,c3s-cica-atlas.evspsbl.CORDEX-EUR-11.historica...,v1,CORDEX-EUR-11/historical/evspsbl_CORDEX-EUR-11...,NaN,CORDEX-EUR-11,Europe (EURO-CORDEX),historical,mon,evspsbl,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
256,c3s-cica-atlas.fd.CORDEX-EUR-11.historical.mon.v1,v1,CORDEX-EUR-11/historical/fd_CORDEX-EUR-11_hist...,NaN,CORDEX-EUR-11,Europe (EURO-CORDEX),historical,mon,fd,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

In [28]:
df = df_cica_atlas.loc[
    (df_cica_atlas.project=="CORDEX-CORE") 
]
df.head()

,ds_id,version,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,url
198,c3s-cica-atlas.cdd.CORDEX-CORE.historical.yr.v1,v1,CORDEX-CORE/historical/cdd_CORDEX-CORE_histori...,NaN,CORDEX-CORE,Global (mosaic),historical,yr,cdd,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
199,c3s-cica-atlas.fd.CORDEX-CORE.historical.mon.v1,v1,CORDEX-CORE/historical/fd_CORDEX-CORE_historic...,NaN,CORDEX-CORE,Global (mosaic),historical,mon,fd,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
200,c3s-cica-atlas.evspsbl.CORDEX-CORE.historical....,v1,CORDEX-CORE/historical/evspsbl_CORDEX-CORE_his...,NaN,CORDEX-CORE,Global (mosaic),historical,mon,evspsbl,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
201,c3s-cica-atlas.huss.CORDEX-CORE.historical.mon.v1,v1,CORDEX-CORE/historical/huss_CORDEX-CORE_histor...,NaN,CORDEX-CORE,Global (mosaic),historical,mon,huss,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
202,c3s-cica-atlas.rlds.CORDEX-CORE.historical.mon.v1,v1,CORDEX-CORE/historical/rlds_CORDEX-CORE_histor...,NaN,CORDEX-CORE,Global (mosaic),historical,mon,rlds,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

In [29]:
df = df_cica_atlas.loc[
    (df_cica_atlas.project=="CMIP6") 
]
df.head()

,ds_id,version,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,url
48,c3s-cica-atlas.cd.CMIP6.historical.yr.v1,v1,CMIP6/historical/cd_CMIP6_historical_yr_1850-2...,NaN,CMIP6,Global,historical,yr,cd,1850-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
49,c3s-cica-atlas.cdd.CMIP6.historical.yr.v1,v1,CMIP6/historical/cdd_CMIP6_historical_yr_1850-...,NaN,CMIP6,Global,historical,yr,cdd,1850-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
50,c3s-cica-atlas.clt.CMIP6.historical.mon.v1,v1,CMIP6/historical/clt_CMIP6_historical_mon_1850...,NaN,CMIP6,Global,historical,mon,clt,1850-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
51,c3s-cica-atlas.evspsbl.CMIP6.historical.mon.v1,v1,CMIP6/historical/evspsbl_CMIP6_historical_mon_...,NaN,CMIP6,Global,historical,mon,evspsbl,1850-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
52,c3s-cica-atlas.fd.CMIP6.historical.mon.v1,v1,CMIP6/historical/fd_CMIP6_historical_mon_18500...,NaN,CMIP6,Global,historical,mon,fd,1850-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

## Load Catalog for C3S-CICA-ATLAS v02

In [30]:
df_cica_atlas_v02 = cat['c3s-cica-atlas'].read()
df_cica_atlas_v02

,ds_id,version,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,url
0,c3s-cica-atlas.tr.CMIP6.historical.mon.v2,v2,v02/CMIP6/historical/tr_CMIP6_historical_mon_1...,NaN,CMIP6,Global,historical,mon,tr,1850-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1,c3s-cica-atlas.r01.CMIP6.historical.mon.v2,v2,v02/CMIP6/historical/r01_CMIP6_historical_mon_...,NaN,CMIP6,Global,historical,mon,r01,1850-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
2,c3s-cica-atlas.fdbals.CMIP6.historical.mon.v2,v2,v02/CMIP6/historical/fdbals_CMIP6_historical_m...,NaN,CMIP6,Global,historical,mon,fdbals,1850-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
3,c3s-cica-atlas.sst.CMIP6.historical.mon.v2,v2,v02/CMIP6/historical/sst_CMIP6_historical_mon_...,NaN,CMIP6,Global,historical,mon,sst,1850-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
4,c3s-cica-atlas.spei6.CMIP6.historical.mon.v2,v2,v02/CMIP6/historical/spei6_CMIP6_historical_mo...,NaN,CMIP6,Global,historical,mon,spei6,1850-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013,c3s-cica-atlas.tnn.BERKELEY.mon.v2,v2,v02/BERKELEY/tnn_BERKELEY_mon_188101-201712.nc,NaN,BERKELEY,Global,NaN,mon,tnn,1881-01-01T00:00:00,2017-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1014,c3s-cica-atlas.t.BERKELEY.mon.v2,v2,v02/BERKELEY/t_BERKELEY_mon_188101-201712.nc,NaN,BERKELEY,Global,NaN,mon,t,1881-01-01T00:00:00,2017-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1015,c3s-cica-atlas.tx35.BERKELEY.mon.v2,v2,v02/BERKELEY/tx35_BERKELEY_mon_188101-201712.nc,NaN,BERKELEY,Global,NaN,mon,tx35,1881-01-01T00:00:00,2017-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1016,c3s-cica-atlas.dtr.BERKELEY.mon.v2,v2,v02/BERKELEY/dtr_BERKELEY_mon_188101-201712.nc,NaN,BERKELEY,Global,NaN,mon,dtr,1881-01-01T00:00:00,2017-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1017,c3s-cica-atlas.tx40.BERKELEY.mon.v2,v2,v02/BERKELEY/tx40_BERKELEY_mon_188101-201712.nc,NaN,BERKELEY,Global,NaN,mon,tx40,1881-01-01T00:00:00,2017-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

In [31]:
df_cica_atlas_v02.ds_id[0]

'c3s-cica-atlas.tr.CMIP6.historical.mon.v2'

In [32]:
df_cica_atlas_v02.url[0]

'https://data.mips.climate.copernicus.eu/thredds/fileServer/esg_c3s-cica-atlas/v02/CMIP6/historical/tr_CMIP6_historical_mon_185001-201412.nc'

In [33]:
df_cica_atlas_v02.path[0]

'v02/CMIP6/historical/tr_CMIP6_historical_mon_185001-201412.nc'

In [34]:
df_cica_atlas_v02.nunique()

ds_id             1018
version              1
path              1018
size                 0
project              9
domain               4
experiment           9
time_frequency       2
variable            56
start_time           8
end_time             7
bbox                 0
level                0
url               1018
dtype: int64

In [35]:
list(df_cica_atlas_v02.project.unique())

['CMIP6',
 'E-OBS',
 'CMIP5',
 'CERRA',
 'ERA5-Land',
 'CORDEX-CORE',
 'CORDEX-EUR-11',
 'CPC',
 'BERKELEY']

In [36]:
list(df_cica_atlas_v02.domain.unique())

['Global', 'Europe', 'Global (mosaic)', 'Europe (EURO-CORDEX)']

In [37]:
list(df_cica_atlas_v02.experiment.unique())

['historical',
 'ssp126',
 'ssp119',
 'ssp245',
 'ssp585',
 'ssp370',
 nan,
 'rcp45',
 'rcp85',
 'rcp26']

In [38]:
list(df_cica_atlas_v02.time_frequency.unique())

['mon', 'yr']

In [39]:
values = list(df_cica_atlas_v02.variable.unique())
values.sort()
values

['cd',
 'cdbaisimip',
 'cdbals',
 'cdd',
 'cddbaisimip',
 'clt',
 'dtr',
 'dtrbaisimip',
 'dtrbals',
 'evspsbl',
 'fd',
 'fdbaisimip',
 'fdbals',
 'hd',
 'hdbaisimip',
 'hdbals',
 'huss',
 'mrro',
 'mrsos',
 'pet',
 'prsn',
 'psl',
 'r',
 'r01',
 'r01baisimip',
 'r10',
 'r10baisimip',
 'r20',
 'r20baisimip',
 'rlds',
 'rsds',
 'rx1day',
 'rx5day',
 'sdii',
 'sdiibaisimip',
 'sfcwind',
 'siconc',
 'spei6',
 'spei6fullperiod',
 'spi6',
 'spi6fullperiod',
 'sst',
 't',
 'tn',
 'tnn',
 'tr',
 'trbaisimip',
 'trbals',
 'tx',
 'tx35',
 'tx35baisimip',
 'tx35bals',
 'tx40',
 'tx40baisimip',
 'tx40bals',
 'txx']

In [40]:
values = list(df_cica_atlas_v02.start_time.unique())
values.sort()
values

['1850-01-01T00:00:00',
 '1881-01-01T00:00:00',
 '1950-01-01T00:00:00',
 '1970-01-01T00:00:00',
 '1979-01-01T00:00:00',
 '1985-01-01T00:00:00',
 '2006-01-01T00:00:00',
 '2015-01-01T00:00:00']

In [41]:
values = list(df_cica_atlas_v02.end_time.unique())
values.sort()
values

['2005-12-31T00:00:00',
 '2014-12-31T00:00:00',
 '2017-12-31T00:00:00',
 '2020-12-31T00:00:00',
 '2021-12-31T00:00:00',
 '2023-12-31T00:00:00',
 '2100-12-31T00:00:00']

In [42]:
df = df_cica_atlas_v02.loc[
    (df_cica_atlas_v02.project=="ERA5-Land") 
]
df.head()

,ds_id,version,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,url
610,c3s-cica-atlas.cdd.ERA5-Land.yr.v2,v2,v02/ERA5-Land/cdd_ERA5-Land_yr_1950-2023.nc,NaN,ERA5-Land,Global,NaN,yr,cdd,1950-01-01T00:00:00,2023-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
611,c3s-cica-atlas.hd.ERA5-Land.yr.v2,v2,v02/ERA5-Land/hd_ERA5-Land_yr_1950-2023.nc,NaN,ERA5-Land,Global,NaN,yr,hd,1950-01-01T00:00:00,2023-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
612,c3s-cica-atlas.pet.ERA5-Land.mon.v2,v2,v02/ERA5-Land/pet_ERA5-Land_mon_195001-202312.nc,NaN,ERA5-Land,Global,NaN,mon,pet,1950-01-01T00:00:00,2023-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
613,c3s-cica-atlas.tnn.ERA5-Land.mon.v2,v2,v02/ERA5-Land/tnn_ERA5-Land_mon_195001-202312.nc,NaN,ERA5-Land,Global,NaN,mon,tnn,1950-01-01T00:00:00,2023-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
614,c3s-cica-atlas.r20.ERA5-Land.mon.v2,v2,v02/ERA5-Land/r20_ERA5-Land_mon_195001-202312.nc,NaN,ERA5-Land,Global,NaN,mon,r20,1950-01-01T00:00:00,2023-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

In [43]:
df = df_cica_atlas_v02.loc[
    (df_cica_atlas_v02.project=="CORDEX-EUR-11") 
]
df.head()

,ds_id,version,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,url
791,c3s-cica-atlas.fd.CORDEX-EUR-11.historical.mon.v2,v2,v02/CORDEX-EUR-11/historical/fd_CORDEX-EUR-11_...,NaN,CORDEX-EUR-11,Europe (EURO-CORDEX),historical,mon,fd,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
792,c3s-cica-atlas.trbaisimip.CORDEX-EUR-11.histor...,v2,v02/CORDEX-EUR-11/historical/trbaisimip_CORDEX...,NaN,CORDEX-EUR-11,Europe (EURO-CORDEX),historical,mon,trbaisimip,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
793,c3s-cica-atlas.sdiibaisimip.CORDEX-EUR-11.hist...,v2,v02/CORDEX-EUR-11/historical/sdiibaisimip_CORD...,NaN,CORDEX-EUR-11,Europe (EURO-CORDEX),historical,mon,sdiibaisimip,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
794,c3s-cica-atlas.tx35bals.CORDEX-EUR-11.historic...,v2,v02/CORDEX-EUR-11/historical/tx35bals_CORDEX-E...,NaN,CORDEX-EUR-11,Europe (EURO-CORDEX),historical,mon,tx35bals,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
795,c3s-cica-atlas.cdbaisimip.CORDEX-EUR-11.histor...,v2,v02/CORDEX-EUR-11/historical/cdbaisimip_CORDEX...,NaN,CORDEX-EUR-11,Europe (EURO-CORDEX),historical,yr,cdbaisimip,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

In [44]:
df = df_cica_atlas_v02.loc[
    (df_cica_atlas_v02.project=="CORDEX-CORE") 
]
df.head()

,ds_id,version,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,url
640,c3s-cica-atlas.r01baisimip.CORDEX-CORE.histori...,v2,v02/CORDEX-CORE/historical/r01baisimip_CORDEX-...,NaN,CORDEX-CORE,Global (mosaic),historical,mon,r01baisimip,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
641,c3s-cica-atlas.tx.CORDEX-CORE.historical.mon.v2,v2,v02/CORDEX-CORE/historical/tx_CORDEX-CORE_hist...,NaN,CORDEX-CORE,Global (mosaic),historical,mon,tx,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
642,c3s-cica-atlas.trbals.CORDEX-CORE.historical.m...,v2,v02/CORDEX-CORE/historical/trbals_CORDEX-CORE_...,NaN,CORDEX-CORE,Global (mosaic),historical,mon,trbals,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
643,c3s-cica-atlas.tx35bals.CORDEX-CORE.historical...,v2,v02/CORDEX-CORE/historical/tx35bals_CORDEX-COR...,NaN,CORDEX-CORE,Global (mosaic),historical,mon,tx35bals,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
644,c3s-cica-atlas.clt.CORDEX-CORE.historical.mon.v2,v2,v02/CORDEX-CORE/historical/clt_CORDEX-CORE_his...,NaN,CORDEX-CORE,Global (mosaic),historical,mon,clt,1970-01-01T00:00:00,2005-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

In [45]:
df = df_cica_atlas_v02.loc[
    (df_cica_atlas_v02.project=="CMIP6") 
]
df.head()

,ds_id,version,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,url
0,c3s-cica-atlas.tr.CMIP6.historical.mon.v2,v2,v02/CMIP6/historical/tr_CMIP6_historical_mon_1...,NaN,CMIP6,Global,historical,mon,tr,1850-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1,c3s-cica-atlas.r01.CMIP6.historical.mon.v2,v2,v02/CMIP6/historical/r01_CMIP6_historical_mon_...,NaN,CMIP6,Global,historical,mon,r01,1850-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
2,c3s-cica-atlas.fdbals.CMIP6.historical.mon.v2,v2,v02/CMIP6/historical/fdbals_CMIP6_historical_m...,NaN,CMIP6,Global,historical,mon,fdbals,1850-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
3,c3s-cica-atlas.sst.CMIP6.historical.mon.v2,v2,v02/CMIP6/historical/sst_CMIP6_historical_mon_...,NaN,CMIP6,Global,historical,mon,sst,1850-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
4,c3s-cica-atlas.spei6.CMIP6.historical.mon.v2,v2,v02/CMIP6/historical/spei6_CMIP6_historical_mo...,NaN,CMIP6,Global,historical,mon,spei6,1850-01-01T00:00:00,2014-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

In [46]:
df = df_cica_atlas_v02.loc[
    (df_cica_atlas_v02.project=="BERKELEY") 
]
df.head()

,ds_id,version,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,url
1006,c3s-cica-atlas.fd.BERKELEY.mon.v2,v2,v02/BERKELEY/fd_BERKELEY_mon_188101-201712.nc,NaN,BERKELEY,Global,NaN,mon,fd,1881-01-01T00:00:00,2017-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1007,c3s-cica-atlas.tr.BERKELEY.mon.v2,v2,v02/BERKELEY/tr_BERKELEY_mon_188101-201712.nc,NaN,BERKELEY,Global,NaN,mon,tr,1881-01-01T00:00:00,2017-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1008,c3s-cica-atlas.txx.BERKELEY.mon.v2,v2,v02/BERKELEY/txx_BERKELEY_mon_188101-201712.nc,NaN,BERKELEY,Global,NaN,mon,txx,1881-01-01T00:00:00,2017-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1009,c3s-cica-atlas.cd.BERKELEY.yr.v2,v2,v02/BERKELEY/cd_BERKELEY_yr_1881-2017.nc,NaN,BERKELEY,Global,NaN,yr,cd,1881-01-01T00:00:00,2017-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1010,c3s-cica-atlas.tn.BERKELEY.mon.v2,v2,v02/BERKELEY/tn_BERKELEY_mon_188101-201712.nc,NaN,BERKELEY,Global,NaN,mon,tn,1881-01-01T00:00:00,2017-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

In [47]:
df = df_cica_atlas_v02.loc[
    (df_cica_atlas_v02.project=="CERRA") 
]
df.head()

,ds_id,version,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,url
582,c3s-cica-atlas.r20.CERRA.mon.v2,v2,v02/CERRA/r20_CERRA_mon_198501-202112.nc,NaN,CERRA,Global,NaN,mon,r20,1985-01-01T00:00:00,2021-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
583,c3s-cica-atlas.psl.CERRA.mon.v2,v2,v02/CERRA/psl_CERRA_mon_198501-202112.nc,NaN,CERRA,Global,NaN,mon,psl,1985-01-01T00:00:00,2021-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
584,c3s-cica-atlas.rx1day.CERRA.mon.v2,v2,v02/CERRA/rx1day_CERRA_mon_198501-202112.nc,NaN,CERRA,Global,NaN,mon,rx1day,1985-01-01T00:00:00,2021-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
585,c3s-cica-atlas.tx.CERRA.mon.v2,v2,v02/CERRA/tx_CERRA_mon_198501-202112.nc,NaN,CERRA,Global,NaN,mon,tx,1985-01-01T00:00:00,2021-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
586,c3s-cica-atlas.txx.CERRA.mon.v2,v2,v02/CERRA/txx_CERRA_mon_198501-202112.nc,NaN,CERRA,Global,NaN,mon,txx,1985-01-01T00:00:00,2021-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...

In [48]:
df = df_cica_atlas_v02.loc[
    (df_cica_atlas_v02.project=="CPC") 
]
df.head()

,ds_id,version,path,size,project,domain,experiment,time_frequency,variable,start_time,end_time,bbox,level,url
997,c3s-cica-atlas.sdii.CPC.mon.v2,v2,v02/CPC/sdii_CPC_mon_197901-202012.nc,NaN,CPC,Global,NaN,mon,sdii,1979-01-01T00:00:00,2020-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
998,c3s-cica-atlas.rx1day.CPC.mon.v2,v2,v02/CPC/rx1day_CPC_mon_197901-202012.nc,NaN,CPC,Global,NaN,mon,rx1day,1979-01-01T00:00:00,2020-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
999,c3s-cica-atlas.rx5day.CPC.mon.v2,v2,v02/CPC/rx5day_CPC_mon_197901-202012.nc,NaN,CPC,Global,NaN,mon,rx5day,1979-01-01T00:00:00,2020-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1000,c3s-cica-atlas.r.CPC.mon.v2,v2,v02/CPC/r_CPC_mon_197901-202012.nc,NaN,CPC,Global,NaN,mon,r,1979-01-01T00:00:00,2020-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...
1001,c3s-cica-atlas.r20.CPC.mon.v2,v2,v02/CPC/r20_CPC_mon_197901-202012.nc,NaN,CPC,Global,NaN,mon,r20,1979-01-01T00:00:00,2020-12-31T00:00:00,NaN,NaN,https://data.mips.climate.copernicus.eu/thredd...